@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'myRailway';
    src: url('../font/Raleway-ExtraLight.ttf');
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    transition: background-color 0.3s; /* Füge eine Übergangsanimation hinzu */
  }
  
